# Ignore virtual environments
Graphs/

# Ignore Coq build artifacts (common extensions)
*.aux
*.vok
*.vos
*.glob
*.vo
\#*\#

# Ignore CoqIDE crash files
*.crashcoqide

# Ignore make-related files (case-insensitive match)
[Mm]akefile*
.makefile.d
*.d

# Ignore compiled images or graphs
*.png
*.txt

*.cache

# Ignore local Makefile config
Makefile.conf
STLC_SuccNat/_RocqMakefile.conf
STLC_SuccNat/_RocqMakefile

# Ignore .Makefile.d files in subdirectories
**/.Makefile.d
